@charset "UTF-8";

*{
    margin: 0px;
}

body{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;background-size: contain;
    background-size: cover;
}

img{
    display: none;
}