@charset "UTF-8";

body{
    background-image: url(imagens/back-phone.jpg);
}

#cell{
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgba(0, 0, 0, 0.534);
    padding: 2em;
    border-radius: 20px;
}