@charset "UTF-8";

/* Tablets */
@media screen and (min-width: 786px) and (max-width: 992px) {
    body{
        background-image: url(imagens/back-tablet.jpg);
    }

    #cell{display: none;}
    #tablet{display: block;}
    #pc{display: none;}
    #tv{display: none;}
    #impressora{display: none;}
}

/* Descktop */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url(imagens/back-pc.jpg);
    }

    #cell{display: none;}
    #tablet{display: none;}
    #pc{display: block;}
    #tv{display: none;}
    #impressora{display: none;}
}

/* Grandes telas */
@media screen and (min-width: 1200px) {
    body{
        background-image: url(imagens/back-tv.jpg);
    }
    #cell{display: none;}
    #tablet{display: none;}
    #pc{display: none;}
    #tv{display: block;}
    #impressora{display: none;}
}

/* Impressoras */
@media print{
    body{
        background: none;
    }
    #cell{display: none;}
    #tablet{display: none;}
    #pc{display: none;}
    #tv{display: none;}
    #impressora{display: block;}
}


