* {
 margin: 0;
 padding: 0;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

/* Configuração do telefone */

section#telefone{
    position: absolute;
    height: 624px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

iframe#tela{
    position: relative;
    top: 82px;
    left: 23px;
    height: 467px;
    width: 265px;
}

/* Configurações dos apps de navegação */

section#navegação{
    float: right;
}

a{
    display: flex;
    margin: 1em;
}

img{
    border-radius: 50%;
    width: 80px;
    box-shadow: 4px 6px 9px 0px rgba(0, 0, 0, 0.541);
    box-sizing: border-box;
}

img:hover{
    border: solid 3px white;
    box-shadow: 8px 6px 9px 0px rgba(0, 0, 0, 0.829);
    transform: translate(-5px);
    transition: transform 0.3s, border 0.3s;
}