body{
    margin: 0px;
}

main{
    
}

header{
    padding: 2em 0em 1em 0em;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
}


a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

p{
font-size: 2em;
}

.normal{
    margin-left: 2em;
    size: 50%;
}

.diferente{
    margin: 0em;
    background-color: rgb(63, 63, 63);
    padding: 10em 0em 10em 0em;
    box-shadow: inset 1px 1px 20px 1px black;
}

section.diferente > p{
    display: block;
    width: 350px;
    padding: 0.5em 1em 0.5em 0em;
    margin-left: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.274);
}

section#img01{
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section#img02{
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}