body{
    margin: 0px;
}

main{
    
}

header{
    padding: 2em 0em 1em 0em;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
}

.texto_header{
    margin: 0px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

p{
font-size: 2em;
}

.normal{
    margin-left: 2em;
    size: 50%;
}

.diferente1{
    margin: 0em;
    padding: 10em 0em 10em 0em;
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 20px 1px black;
}

.diferente2{
    margin: 0em;
    padding: 10em 0em 10em 0em;
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 20px 1px black;
}

.diferente1 > p{
    display: block;
    width: 350px;
    padding: 0.5em 1em 0.5em 0em;
    margin-left: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.274);
}

.diferente2 > p{
    display: block;
    width: 350px;
    padding: 0.5em 1em 0.5em 0em;
    margin-left: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.274);
}


footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}