table{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    background-color: gray;
    color: white;
}


th, td{
    border-style: solid;
    border-width: 2px;
    padding: 0.5em;
    text-align: center;
    border-color: black;
    font-weight: bold;
}

