@charset "UTF-8";



*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(94, 94, 94);
    color: white;
    text-align: center;
}

h1{
    padding: 0.5em 0em .5em 0.5em;
}

nav{
    display: none;
    flex-direction: column;
}

i{
    background-color: rgb(56, 56, 56);
    width: 100%;
    padding: 10px;
}

a{
    background-color: rgb(80, 79, 79);
    margin: 2px 0px 2px 0px;
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
}

a:hover, i:hover{
    background-color: rgb(182, 182, 182);
    transform: scale(1.1);
    transition: background-color .5s;
}

body{
    background-color: rgb(184, 184, 184);
}

article{
    margin: auto;
    margin: 1em ;
    max-width: 1000px;
    background-color: white;
    border-radius: 20px;
    padding: 1em;
}

article > h2{
    margin-bottom: 10px;
}

article > p{
    text-indent: 2em;
}
